<div class="col-lg-3 col-md-7 col-11 justiy-content-end m-lg-0 m-auto">
  <div class="row gy-5 left_div_blog">

    <div class="col-12 about_me_div shadow">
     
     
    </div>
    <div class="popular_post">
      <div class="right_div_title py-4 pl-2">
        <h2>Popular Posts</h2>
      </div>
      <div class="right_sub_div shadow">
        <div class="row">
          <div class="col-3  popular_post__img1 py-2 pl-2">

          </div>
          <div class="col-9 ">
            <h3>Bill Gates</h3>
            <p>Lorem ipsum dolor sit </p>
          </div>
        </div>
        <div class="row">
          <div class="col-3  popular_post__img2 py-2 pl-2">

          </div>
          <div class="col-9 ">
            <h3>Bill Gates</h3>
            <p>Lorem ipsum dolor sit </p>
          </div>
        </div>
        <div class="row">
          <div class="col-3  popular_post__img3 py-2 pl-2">

          </div>
          <div class="col-9 ">
            <h3>Bill Gates</h3>
            <p>Lorem ipsum dolor sit </p>
          </div>
        </div>
        <div class="row">
          <div class="col-3  popular_post__img4 py-2 pl-2">

          </div>
          <div class="col-9 ">
            <h3>Bill Gates</h3>
            <p>Lorem ipsum dolor sit </p>
          </div>
        </div>
      </div>
    </div>

    <div class="right_div_post">
      <div class="right_div_title py-4 pl-2">
        <h2>Advertisement</h2>
      </div>
      <div class="right_sub_div">
        <div class="advertise_img bg-light shadow">
          <p>Add goes Here</p>
        </div>
      </div>
    </div>

    <div class="right_div_post">
      <div class="right_div_title py-4 pl-2">
        <h2>Tags</h2>
      </div>
      <div class="tags_main right_sub_div">
        <a class="badge shadow text-capitalize"
          href="https://www.linkedin.com/in/shailendra-srivastava-75b655169/">Linkdin</a>
        <a href="#" class="badge shadow text-capitalize">Java</a>
        <a href="#" class="badge shadow text-capitalize">HTML</a>
        <a href="#" class="badge shadow text-capitalize">css</a>
        <a href="#" class="badge shadow text-capitalize">Linkdin</a>
        <a href="#" class="badge shadow text-capitalize">Linkdin</a>
        <a href="#" class="badge shadow text-capitalize">Linkdin</a>
        <a href="#" class="badge shadow text-capitalize">Linkdin</a>
        <a href="#" class="badge shadow text-capitalize">Linkdin</a>
      </div>
    </div>
    <div class="right_div_post">
      <div class="right_div_title py-4 pl-2">
        <h2>Inspiration</h2>
      </div>
      <div class=" right_sub_div">
        <div class="row gx-3">
          <div class="col-6">
            <figure>
              <img class="img-fluid shadow"
                src="https://images.unsplash.com/photo-1593642532871-8b12e02d091c?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80"
                alt="">
            </figure>
          </div>
          <div class="col-6">
            <figure>
              <img class="img-fluid shadow"
                src="https://images.unsplash.com/photo-1593642634367-d91a135587b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80"
                alt="">
            </figure>
          </div>

          <div class="col-6">
            <figure>
              <img class="img-fluid shadow"
                src="https://images.unsplash.com/photo-1593642634367-d91a135587b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80"
                alt="">
            </figure>
          </div>
          <div class="col-6">
            <figure>
              <img class="img-fluid shadow"
                src="https://images.unsplash.com/photo-1593642532871-8b12e02d091c?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80"
                alt="">
            </figure>
          </div>
        </div>

      </div>
      <div class="right_div_post">
        <div class="right_div_title py-4">
          <h2>Follow Me</h2>
        </div>
        <div class="right_sub_div d-flex justify-content-around">
          <a href="#"><i class="fab fa-facebook-square fa-3x"></i></a>
          <a href="#"><i class="fab fa-instagram-square fa-3x"></i></a>
          <a href="#"><i class="fab fa-twitter-square fa-3x"></i></a>
          <a href="#"><i class="fab fa-snapchat-square fa-3x"></i></a>
          <a href="#"><i class="fab fa-github-square fa-3x"></i></a>

        </div>
      </div>
      <div class="right_div_post">
        <div class="right_div_title py-4">
          <h2>Subscribe</h2>
        </div>
        <div class="right_sub_div">
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="sobhit6548@gmail.com">

            </div>


            <button type="submit" class="subs_btn d-block ">Submit</button>
          </form>

        </div>
      </div>
    </div>




  </div>
</div>

</div>
</div>
</div>
</div>

<footer>
  <p class="text-center py-4 bg-light">Designed By Shailendra Srivastava &copy All Rights Reserved</p>
</footer>
<script>
  let form = document.querySelectorAll('.Like_btn');
  for (let ev of form) {
    ev.addEventListener('submit', (e) => {
      // console.log(e);
      e.preventDefault();
    })
  }


  let like = document.querySelectorAll('.Like_btn1 button i');
  for (let event of like) {
    event.addEventListener('click', () => {

      if (event.innerHTML === "Like") {
        console.log("if");
        event.innerHTML = 'Liked';
      }
      else if (event.innerHTML === "Liked") {
        console.log("else");
        event.innerHTML = 'Like';
      }


    })
  }

  const reply = (e) => {
    const div1 = document.querySelectorAll(`.${e}`);
    console.log(div1);
    for (let event of div1) {
      console.log(event);
      event.classList.toggle('show');
    }
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
  integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
  integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>

</html>