
h1{
    color: white;
}
.btn{
    color: white;
    background-color:#023e8a;
    border-radius: 25px;
    border-width: 2px ;
    border-color: #023e8a;
}

.nav-item a
{
   color:#f06c00;
}
a:hover{
    transform: scale(1.05);
   
}

.navbar-toggler
{
    background-color: #1789fc;
}
.btn:hover{
    transform: scale(1.05);
   color: white;
   border-color: white;
}
body
{
color: white;
background-image: url('/public/img/img3.webp');
opacity: 0.9;
}

.fas{
    font-size:3.5rem;
}



